[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"
pylint = "*"
pylint-report = "==0.2.1"
yapf = "*"
isort = "*"
bandit = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
psycopg2-binary = "*"
pymysql = "*"
sqlalchemy-utils = "*"
flask-testing = "*"

[requires]
python_version = "3.7"
