[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "==2.27.1"
pylint = "==2.13.9"
pylint-report = "==0.2.1"
yapf = "*"
isort = "*"
bandit = "*"
pip-licenses = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-script = "*"
flask-migrate = "*"
pymysql = "*"
sqlalchemy-utils = "*"
flask-testing = "*"

[requires]
python_version = "3.7"
